@model IEnumerable<MusicStore.Models.Genre>

@{
    ViewBag.Title = "商店主页";
}

<div id="content">
    <div id="breadcrumd">
        <h1>
            <a class="liupai" href="/store" target="_blank">流派</a>

        </h1>
    </div>

    <ul id="fenlei">
       @{
           int i=1;
        foreach (var genre in Model)
        {
            
            <li>
                <span id="number_genre">@i</span>
                @Html.ActionLink(genre.Name, "Browse", new { name = genre.Name })

            </li>
            i++;
        }
       }
    </ul>

</div>
