

@{
    ViewBag.Title = "购物车";
   
}



<h2><em>重新查看</em>你的购物车</h2>

<p class="button">
    @Html.ActionLink("Checkout >>", "AddressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<div id="content">

<table id="cart_table">
    <tr>
        <th>专辑名
        </th>
        <th>单价</th>
        <th>数量</th>
        <th>操作</th>
    </tr>

   
    <tr >
        
        <td id="cart-total" colspan="4">
          总计<span class="counts">1</span> 件商品，总共<span id="cartTotal_price"class="price">0</span>
        </td>
    </tr>
    <tr >
        
        <td id="price-total" colspan="4">
          提交订单
        </td>
    </tr>

</table>
</div>


<script type="text/javascript">
    $(function () {
        setCart_table();
        $('.amount_button').click(cart_amount);
    });
    
</script>
